[submodule "SEAME_WarmUp-24-25"]
	path = SEAME_WarmUp-24-25
	url = https://github.com/Axel-ex/SEAME-WarmUp-24-25.git

[submodule "Cluster"]
	path = Cluster
	url = https://github.com/Xyckens/SEAME-Cluster-24-25.git
[submodule "SEAME-Cluster-24-25"]
	path = SEAME-Cluster-24-25
	url = https://github.com/Xyckens/SEAME-Cluster-24-25.git
