[Unit]
Description=Launch ROS2 container in %I mode
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
ExecStart=/bin/bash /usr/local/bin/jetracer_%i.sh
ExecStop=/usr/bin/docker stop jetracer
Restart=always
RemainAfterExit=yes
Type=simple

[Install]
WantedBy=multi-user.target

